* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    text-align: center;
    background: linear-gradient(to bottom, #112256, #2d4fb6, #4169e1);
    height: 100vh;
    width: 100vw;
    margin-left: 20px;
}

h1 {
    margin-bottom: 50px;
    color: #ffffe0
}

textarea {
    height: 25vh;
    width: 50vw;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 25px;
    font-size: 1.5rem;
}

button {
    font-size: 1.2rem;
    width: 100px;
    height: 50px;
    color: #112256;
    background-color: #ffffe0;
    border: 3px solid #112256;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: indigo;
    color: #ffffe0
}

#result {
    margin-top: 20px;
    font-size: 2rem;
    transition: .3s;
    color: #ffffe0
}